.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
   
}

.nav-connect{
    padding:20px 40px;
    border-radius: 50px;
    background: linear-gradient(120deg , rgb(255, 0, 174) 0.12%,#00FFFF 102.0%);
    font-size: 20px;
    cursor: pointer;  
    transition: 0.5s; 
}

.nav-connect:hover{
    transform: scale(1.05);
}